{% extends 'base.html' %}

{% block head %}
    <style type="text/css">
        #map{ width:700px; height: 500px; }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block body %}
<h1 >
    Welcome, {{ name }}!
</h1>
<h1>Select a location!</h1>
        <p>Click on a location on the map to select it. Drag the marker to change location.</p>
        
        <div id="map"></div>
        <h2>Chosen Location</h2>
        <form  method="POST" action="/details">
            <label>Latitude</label>
            <input type="text" id="latitude" name="latitude" readonly="yes"><br>
            
            <label>Longitude</label>
            <input type="text" id="longitude" name="longitude" readonly="yes"><br>

            <button>Submit</button>
        </form>
        
        <script type="text/javascript" src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}