{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div >
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">Log-in</a> page.
    </div>
{% endif %}
{% endwith %}
<div>
    <h3 class="title">Register</h3>
    <div>
        <form method="POST" action="/register">
            <div>
                <div>
                    <input type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div>
                <div>
                    <input type="text" name="firstName" placeholder="First Name" autofocus="">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="lastName" placeholder="Last Name" autofocus="">
                </div>
            </div>
            <div>
                <div>
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button>Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}